<footer class="foot">
    <div class="foot-copy u-fl">© 2015 andforce
        <bdi> Theme by <a href="https://github.com/andforce/hexo-theme-andforce">andforce</a></bdi>
    </div>
    <menu class="page-menu u-fr">
        <li class="page-menu__item"><span title="Previous"
                                          class="page-menu__link icon-arrow-left page-menu__link--disabled"></span></li>
        <li class="page-menu__item"><span title="Next"
                                          class="page-menu__link icon-arrow-right page-menu__link--disabled"></span>
        </li>
    </menu>
</footer>