<main class="main">
    <article class="post">
        <header class="post__head">
            <time datetime="2015-09-27T03:08:33.000Z" class="post__time">September 27, 2015</time>
            <h1 class="post__title"><a href="/2015/09/27/theme-demo/">博客主题Denmo</a></h1>
            <hr>
        </header>

        <div class="post__main echo">
            <p><img src="http://ww2.sinaimg.cn/mw690/6ff3843bjw1ek0d43jkv1j21hc0u0dh3.jpg" alt="图片"></p>

            <p><a href="http://andforce.com">这是一个连接Demo</a></p>

            <h1 id="一级标题">一级标题</h1>

            <h2 id="二级标题">二级标题</h2>

            <h3 id="三级标题">三级标题</h3><h4 id="四级标题">四级标题</h4><h5 id="五级标题">五级标题</h5><h6 id="六级标题">六级标题</h6>
            <hr>
            <ol>
                <li>有序列表</li>
                <li>有序列表</li>
                <li>有序列表</li>
            </ol>
            <hr>
            <ul>
                <li>无序列表</li>
                <li>无序列表</li>
                <li>无序列表</li>
            </ul>
            <hr>
            <blockquote>
                <p>引用引用引用引用引用引用引用引用引用引用引用引用引用引用引用引用引用引用</p>
            </blockquote>
            <h2 id="java_代码块"><code>java</code> 代码块</h2>
            <figure class="highlight java">
                <table>
                    <tbody>
                    <tr>
                        <td class="code">
                            <pre><span class="line"><span class="keyword">public</span> <span class="class"><span
                                                class="keyword">class</span> <span
                                                class="title">KeyboardFrameLayout</span> <span
                                                class="keyword">extends</span> <span
                                                class="title">FrameLayout</span> </span>{</span><br><span
                                        class="line"></span><br><span class="line"></span><br><span
                                        class="line">    <span
                                            class="keyword">private</span> KeyboardHelper mHelper;</span><br><span
                                        class="line"></span><br><span class="line">    <span class="function"><span
                                                class="keyword">public</span> <span
                                                class="title">KeyboardFrameLayout</span><span class="params">(Context context, AttributeSet attrs, <span
                                                    class="keyword">int</span> defStyle)</span> </span>{</span><br><span
                                        class="line">        <span class="keyword">super</span>(context, attrs, defStyle);</span><br><span
                                        class="line">        mHelper = <span
                                            class="keyword">new</span> KeyboardHelper(<span class="keyword">this</span>);</span><br><span
                                        class="line">    }</span><br><span class="line"></span><br><span class="line">    <span
                                            class="function"><span class="keyword">public</span> <span class="title">KeyboardFrameLayout</span><span
                                                class="params">(Context context, AttributeSet attrs)</span> </span>{</span><br><span
                                        class="line">        <span
                                            class="keyword">super</span>(context, attrs);</span><br><span class="line">        mHelper = <span
                                            class="keyword">new</span> KeyboardHelper(<span class="keyword">this</span>);</span><br><span
                                        class="line">    }</span><br><span class="line"></span><br><span class="line">    <span
                                            class="function"><span class="keyword">public</span> <span class="title">KeyboardFrameLayout</span><span
                                                class="params">(Context context)</span> </span>{</span><br><span
                                        class="line">        <span
                                            class="keyword">super</span>(context);</span><br><span class="line">        mHelper = <span
                                            class="keyword">new</span> KeyboardHelper(<span class="keyword">this</span>);</span><br><span
                                        class="line">    }</span><br><span class="line"></span><br><span class="line">    <span
                                            class="function"><span class="keyword">public</span> <span class="keyword">void</span> <span
                                                class="title">setOnKeyboardStateListener</span><span class="params">(OnKeyboardStateChangeListener listener)</span> </span>{</span><br><span
                                        class="line">        mHelper.setOnKeyboardStateListener(listener);</span><br><span
                                        class="line">    }</span><br><span class="line"></span><br><span
                                        class="line"></span><br><span class="line">    <span class="function"><span
                                                class="keyword">public</span> KeyboardHelper <span class="title">getKeyBoardHelper</span><span
                                                class="params">()</span> </span>{</span><br><span
                                        class="line">        <span
                                            class="keyword">return</span> mHelper;</span><br><span
                                        class="line">    }</span><br><span class="line"></span><br><span
                                        class="line"></span><br><span class="line">    <span class="annotation">@Override</span></span><br><span
                                        class="line">    <span class="function"><span
                                                class="keyword">protected</span> <span class="keyword">void</span> <span
                                                class="title">onLayout</span><span class="params">(<span
                                                    class="keyword">boolean</span> changed, <span
                                                    class="keyword">int</span> l, <span
                                                    class="keyword">int</span> t, <span
                                                    class="keyword">int</span> r, <span
                                                    class="keyword">int</span> b)</span> </span>{</span><br><span
                                        class="line">        <span class="keyword">super</span>.onLayout(changed, l, t, r, b);</span><br><span
                                        class="line">        mHelper.init();</span><br><span
                                        class="line">    }</span><br><span class="line"></span><br><span
                                        class="line">}</span><br></pre>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </figure>
            <h2 id="shell代码块"><code>shell</code>代码块</h2>
            <figure class="highlight">
                <table>
                    <tbody>
                    <tr>
                        <td class="code"><pre><span class="line">WDYdeMacBook-Pro:vendor andforce$ ls -al
total 24
drwxr-xr-x  5 andforce  staff   170  9 27 10:56 .
drwxr-xr-x  8 andforce  staff   272  9 27 08:43 ..
-rw-r--r--  1 andforce  staff  2321  9 27 08:43 _echo.styl
-rw-r--r--  1 andforce  staff  1053  9 27 08:43 _highlight.styl
-rw-r--r--  1 andforce  staff  2226  9 27 08:43 _normalize.styl</span><br></pre>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </figure>
        </div>
        <footer class="post__foot u-cf"><a class="post__foot-link u-fr"></a></footer>
    </article>
</main>